body{
  background-color: #000000;
  font-family: 'Press Start 2P','Nanum Gothic','Bangers', 'Roboto', sans-serif, cursive;
  margin: 0;
}
a{ text-decoration:none }
h1{
  color: #ffffff;
  margin: 0;
}
.App{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.header{
  margin: 0;
  width: 100%;
  background-color: #6441A5;
  height: 60px;
  padding-top:30px;
}
.side-bar-wraper{
  float: left;
  padding-left: 40px;
}
.side-bar{
  width: 25px;
  cursor: pointer;
}
.side-logo{
  width: 25px;
  padding-left: 25px;
  cursor: pointer;
}
.twitch-title{
  width: 70px;
  padding-left: 5px;
  cursor: pointer;
}
.header::after{
  content: '';
  display: block;
  clear: both;
}
.main{
  width: 100%;
  position: relative;
}
.side-menu{
  width: 250px;
  position: absolute;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}
.first-side{
  border-bottom: 2px solid rgba(180, 180, 180, .3);
  padding-bottom: 10px;
}
.side-list{
  padding: 10px;
  text-align: left;
  display: block;
}
.side-list-text{
  padding-left: 30px;
  float: left;
  color: #ffffff;
}
.side-list:hover{
  background-color: rgba(180, 180, 180, .3);
  cursor: pointer;
}
.side-list-img{
  width: 20px;
  float: left;
  padding-left: 40px;
}
.side-list::after{
  content: '';
  display: block;
  clear: both;
}
.second-side-title{
  padding: 20px 10px 10px 40px;
  text-align: left;
  color: #aaaaaa;
}
.game-list{
  padding: 10px;
  text-align: left;
}
.game-list-text{
  padding-left: 30px;
  float: left;
}
.game-list:hover{
  background-color: rgba(180, 180, 180, .3);
  cursor: pointer;
}
.game-list-img{
  width: 24px;
  float: left;
  padding-left: 40px;
}
.game-list::after{
  content: '';
  display: block;
  clear: both;
}
.side-small-menu{
  width: 72px;
  position: absolute;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}
.small-home{
  padding: 20px 10px;
  text-align: left;
  display: block;
}
.small-home-img{
  width: 24px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.small-home-text{
  padding-left: 20px;
  color: #ffffff;
}
.small-home:hover{
  background-color: rgba(180, 180, 180, .3);
  cursor: pointer;
}
.small-popular{
  padding: 20px 10px;
  text-align: left;
  display: block;
}
.small-popular-img{
  width: 24px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.small-popular-text{
  padding-left: 12px;
  color: #ffffff;
}
.small-popular:hover{
  background-color: rgba(180, 180, 180, .3);
  cursor: pointer;
}
.small-twitch{
  padding: 20px 10px;
  text-align: left;
  display: block;
}
.small-twitch-img{
  width: 24px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.small-twitch-text{
  padding-left: 12px;
  color: #ffffff;
}
.small-twitch:hover{
  background-color: rgba(180, 180, 180, .3);
  cursor: pointer;
}
.small-streaming{
  padding: 20px 10px;
  text-align: left;
  display: block;
}
.small-streaming-img{
  width: 24px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.small-streaming-text{
  padding-left: 12px;
  color: #ffffff;
}
.small-streaming:hover{
  background-color: rgba(180, 180, 180, .3);
  cursor: pointer;
}
.main-content{
  padding-left: 250px;
}
.main-content-small{
  padding-left: 200px;
}
.top-list-title{
  color: #ffffff;
  text-align: left;
  margin: 20px 10px 0 10px;
  font-size: 16px;
}
.top-game-title{
  color: rgba(255,255,255);
  width: 100%;
  margin: 0;
  text-align: left;
  position: relative;
}
.top-game-title::after{
  content: '';
  display: block;
  clear: both;
}
.top-game-img-wrapper{
  width: 850px;
  height: 550px;
  float: right;
}
.top-game-text{
  font-size: 30px;
  padding: 10px 0 10px 20px;
  float: left;
  position: absolute;
  left: 20px;
  top: 40px;
  z-index: 2;
}
.top-game-text-title{
  position: absolute;
  top: -50px;
  width: 600px;
}
.top-game-img{
  width: 280px;
  position: absolute;
  left: 20px;
  top: 90px;
  z-index: 2;
}
.top-game-info{
  font-family: 'Nanum Gothic';
  width: 1050px;
  font-weight: bold;
  font-size: 32px;
  position: absolute;
  top: 120px;
  left: 400px;
}
.top-game-info-detail{
  font-family: 'Nanum Gothic';
  width: 500px;
  position: absolute;
  color: #cccccc;
  font-size: 20px;
  top: 230px;
  left: 420px;
  line-height: 1.6;
}
.top-game-video-play{
  font-family: 'Nanum Gothic';
  text-align: center;
  position: absolute;
  padding: 5px 20px;
  font-weight: bold;
  background-color:rgba(100,65,165,.5);
  border-radius: 5px;
  width: 100px;
  font-size: 16px;
  top: 370px;
  left: 400px;
  line-height: 1.4;
}
.top-game-video-play:hover{
  background-color: #ffffff;
  color: #6441A5;
}
.top-game-stream{
  font-family: 'Nanum Gothic';
  text-align: center;
  position: absolute;
  padding: 5px 20px;
  font-weight: bold;
  background-color:rgba(100,65,165,.5);
  border-radius: 5px;
  width: 100px;
  font-size: 16px;
  top: 370px;
  left: 600px;
  line-height: 1.4;
}
.top-game-stream:hover{
  background-color: #ffffff;
  color: #6441A5;
}
.top-game-info-title{
  font-family: 'Roboto';
  color:rgba(255,255,255,.5);
  padding: 0 5px;
  font-size: 36px;
  margin-right: 10px;
  border-radius: 5px;
}
.top-game-main-video{
  padding-left: 30px;
  width: 1280px;
  height: 720px;
  opacity: 0.4;
}
.game-img-wraper{
  margin: 0 auto;
  width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}
.game-img{
  width: 130px;
  float: left;
  margin: 10px 4px 0 4px;
  cursor: pointer;
}
.game-img > img:hover{
  opacity: 0.3;
}
.top-game-name{
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.game-img-wraper::after{
  content: '';
  display: block;
  clear: both;
}
.videoList{
  width: 100%;
  margin: 10px auto 0 auto;
}
.videoList::after{
  content: '';
  display: block;
  clear: both;
}
.video-img{
  width: 330px;
  height: 280px;
  float: left;
  margin: 0 9px 0 0;
  position: relative;
  cursor: pointer;
}
.video-img > img:hover{
  opacity: 0.3;
}
.top-video-language{
  color: #ffffff;
  background-color: #000000;
  font-size: 12px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  padding-right: 2px; 
  left: 20px;
  bottom: 240px;
  padding: 0 5px;
}
.top-video-viewable{
  border-radius: 3px;
  color: #ffffff;
  background-color: red;
  font-size: 12px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  right: 20px;
  bottom: 240px;
  padding: 3px 8px;
}
.top-video-time{
  color: #ffffff;
  background-color: #000000;
  font-size: 12px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  padding-right: 2px; 
  right: 20px;
  bottom: 110px;
  padding: 0 5px;
}
.top-video-name{
  color: #ffffff;
  margin: 0;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  font-family: 'Roboto', sans-serif; 
  margin:5px 0 0 0;
  line-height: 1.2rem;
}
.top-user-name{
  color: #aaaaaa;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; 
  font-size: 13px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0; 
}
.top-view-count{
  color: #aaaaaa;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; 
  font-size: 13px;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 0;
}
.top-view-date{
  color: #aaaaaa;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; 
  font-size: 13px;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 0;
}
.page-control{
  color: #ffffff;
  margin: 30px auto;
  text-align: center;
  width: 1100px;
}
.btn-wraper{
  width: 100%;
}
.page-btn-left{
  float: left;
  margin: 0 5% 0 33%;
  text-align: center;
  font-size: 24px;
  border: 1px solid white;
  padding: 4px 2px 1px 4px;
  cursor: pointer;
}
.page-btn-right{
  float: left;
  margin: 0 33% 0 5%;
  text-align: center;
  font-size: 24px;
  border: 1px solid white;
  padding: 4px 2px 1px 4px;
  cursor: pointer;
}
.page-btn-left:hover{
  color: #000000;
  background: #ffffff;
}
.page-btn-right:hover{
  color: #000000;
  background: #ffffff;
}
.btn-wraper::after{
  content: '';
  display: block;
  clear: both;
}
.modal{
  width: 100%;
  height: 100%;
  background-color: rgba(39, 25, 65, .5);
  position: fixed;
  top: 0;
  z-index: 3;
}
.video-modal{
  position: fixed;
  top: 200px;
  left: 250px;
  z-index: 3;
}
.modal-video-wrapper{
  width: 400px;
  margin: 0 auto;
  position: fixed;
  top: 200px;
  left: 1050px;
}
.modal-desc{
  width: 400px;
  height: 480px;
  color: #000000;
  background-color:  rgba(255, 255, 255, .8);
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
}
.modal-desc-title{
  padding:0 20px;
  float: left;
  color: #6441A5;
}
.modal-desc-desc {
  float: left;
}
.modal-desc::after{
  content: '';
  display: block;
  clear: both;
}
.modal-desc-sub-wrapper{
  padding: 10px 10px 10px 20px;
  float: left;
  width: 90%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
}
